extends layouts/main-layout.pug

block content 
    main.main 
            if products.length>0
                .grid 
                    each product in products
                        .card 
                            header.card__header 
                                h3.product__title #{product.title}
                            .card__image 
                                img(src="https://media.gq.com/photos/5ad64204c8be07604e8b5f2f/1:1/w_1332,h_1332,c_limit/21-books-GQ-April-2018-041718-3x2.jpg", alt="a book")
                            .card__content
                                h4.product__price $22
                                p.product__description a very good book to have 
                            .card__action 
                                button.btn Add to cart
            else 
                h1 no product added         